*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}*/

.contacts {
    /*background-color: grey;*/
	display: flex;
	flex-direction: column;
}
.haut {
	/*background-color: pink;*/
	display: flex;
	justify-content: space-around;
}

.bas {
	/*background-color: red;*/
	display: flex;
	justify-content: space-around;
}
.element {
    /*background-color: white;*/
	width: 40%;
}
body { 
    padding-top: 0px;
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
} 

/*li {
    float: left;
}*/

/*li a {

}*/

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ED4C3A;
}

html { 

} 

/*******************************************************************
LAYOUT
*******************************************************************/

div#seloupoivre { 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
} 

div#seloupoivre li {
  float: left;
  list-style-type: none;
}

div#seloupoivre li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#gop2p {
  list-style-image: url('./images/small_dino.png');
  overflow: hidden;
}

div#gop2p li a{
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: white;
}

div#guyteheube li {
  list-style-image: url('./images/github.png');
}

div#guyteheube li a{
    /*color: white;*/
    text-align: center;
    text-decoration: none;
    background-color: white;
}

div#contacts a {
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: white;
}

#sidebar { 


} 

.navbar { 


} 

.navbar-fixed-top { 


} 

.navbar-inverse { 


} 

.container { 


} 

.navbar-header { 


} 

.collapse { 


} 

.navbar-collapse { 


} 

.row { 


} 

.row-offcanvas { 


} 

.row-offcanvas-right { 


} 

.col-xs-6 { 


} 

.col-sm-3 { 


} 

.sidebar-offcanvas { 


} 

.well { 


} 

.sidebar-nav { 


} 

.media { 


} 

.col-xs-12 { 


} 

.col-sm-9 { 


} 

.jumbotron { 


} 

.list-group { 


} 